[submodule "home-manager/nvim"]
	url = https://github.com/mytkom/neovim-config
[submodule "home-manager/nvim/neovim-config"]
	path = home-manager/nvim/neovim-config
	url = https://github.com/mytkom/neovim-config
[submodule "home-manager/neovim-config"]
	path = home-manager/neovim-config
	url = https://github.com/mytkom/neovim-config
[submodule "home-manager/--force"]
	path = home-manager/--force
	url = https://github.com/mytkom/neovim-config
